.image {
  background-size: cover;
}

.home-banner {
  padding: 30vh 0;
  background-position: center;
}

.home-illustration {
  height: 300px;
  background-position: bottom;
}

.img {
  width: 90%;
}

#carouselExampleControls {
  width: 80%;
  margin: auto;
}
