.image {
  background-size: cover;
}

.home-banner {
  padding: 30vh 0;
  background-position: center;
  height: 130vh;
  position: relative;
}

.home-illustration {
  height: 300px;
  background-position: bottom;
}

.img {
  width: 90%;
}

#carouselExampleControls {
  width: 80%;
  margin: auto;
}

// .background {
// }

// .shape-fill {
//   position: absolute;
//   right: 0px;
//   top: 0px;
// }

.rounded-bg {
  min-width: 100%;
    height: 100vh;
    border-radius: 50% 50% 0 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 650px;
}

.advantages {
  margin-top: 172px;
}

.home-svg {
  width: 250px;
  height: 250px;
}

.home-svg1 {
  width: 350px;
  height: 350px;
}
.home-img {
  max-height: 500px;
  width: 300px;
}
