<div class="main-card border shadow-sm">
  <div class="main-card-info p-3">
    <div class ="d-flex flex-column">
      <h3 class="main-card-title"><%= site.address %></h3>
      <i class="fa-solid fa-location-dot me-2"></i>
    </div>
  </div>
</div>
