<div class="main-card border shadow-sm">
  <div class="main-card-photo" style="background-image: url(<%= image_path("devices/#{device.name.chop.chop.chop.parameterize}.png") %>)"></div>
  <div class="main-card-info p-3">
    <div>
      <h3 class="main-card-title "><%= device.name %></h3>
      <h3></h3>
      <h5 class="opacity-50"><%= device.category %></h5>
    </div>
    <div >
        <% if device.status %>
          <div class="d-flex text-success">
            <i class="fa-solid fa-plug pt-1"></i>
            <p class="ps-2">Relié</p>
          </div>
        <% else %>
          <div class="d-flex text-danger">
            <i class="fa-solid fa-plug pt-1"></i>
            <p class="ps-2"> Non relié</p>
          </div>
        <% end %>
    </div>
  </div>
</div>
