<div class="main-card border shadow-sm">
  <div class="main-card-photo" style="background-image: url(<%= image_path("plants/#{plant.family.parameterize}") %>)"></div>
  <div class="main-card-info p-3">
    <div>
      <h3 class="main-card-title "><%= plant.species %></h3>
      <h4 class="main-card-price align-self-center"><%= plant.site_name %></h4>
    </div>
    <div>
        <p class="main-card-detail my-0 me-2"><%= plant.description %></p>
    </div>
  </div>
</div>
