<div class="my-3 mb-3">
  <%= form_tag dashboard_path, method: :get, class: "d-flex" do %>

    <%= select_tag :site_name, options_from_collection_for_select(@sites, "name", "name", ""),
    {include_blank: "Emplacement", class: "btn btn-outline-primary" }%>
    <%= select_tag :family, options_for_select(@plants.map {|plant| plant.family}.uniq),
    {include_blank: "Famille", class: "btn btn-outline-primary ms-2"}%>
    <%= submit_tag "Search", class: "btn btn-primary text-light ms-2" %>
  <% end %>
</div>
