<div class="show-plant-highlight my-3 d-flex justify-content-around rounded" data-refresh-latest-target="temperatureAirRH">
  <h3 class="my-2 text-primary"><span><%= temperature_latest %></span>°C</h3>
  <h3 class="my-2 text-primary"><span><%= air_rh_latest %></span>%</h3>
</div>
