<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="mb-3"><%= pluralize(@plants.length, 'plante') %></h1>
        <%= link_to new_plant_path do %>
          <button class="btn btn-outline-primary">Ajouter une plante</button>
        <% end %>
      </div>
      <div class="grid">
        <% @plants.each do |plant| %>
          <%= link_to plant_path(plant), class: 'text-decoration-none' do %>
            <%= render 'partial/card_plant', plant: plant %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
