#dropdownMenuButton:hover {
  color: white;
}

.btn-lighter {
  text-decoration: none;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 8px;
  transition: color 0.15s, background-color 0.15s;
  &:hover {
    color: $salmon;
    background-color: white;
    transition: color 0.15s, background-color 0.15s;
  }
}
