.main-card {
  color: black;
  border-radius: 5px;
  &-photo {
    background-size: cover;
    background-position: center;
    height: 250px;
    border-radius: 5px
  }
  &-detail {
    font-weight: 400;
    font-size: 1em;
  }
  &-title {
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 5px;
  }
  &-location {
    font-weight: 300;
    font-size: 0.9em;
  }
}
