.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  .mapboxgl-popup-title {
    font-family: $headers-font;
    line-height: 30px;
    color: $blue-green;
    text-decoration: none;
  }
  font-family: $body-font;
}
