// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "views/plants/show";
@import "views/devices/show";

// Global styles
.photo {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}
