<% breadcrumb :sites, @sites %>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class="mb-3"><%= pluralize(@sites.length, 'site') %></h1>
        <%= link_to new_site_path do %>
          <button class="btn btn-outline-primary">Ajouter un site</button>
        <% end %>
      </div>
      <div class="grid">
        <% @sites.each do |site| %>
          <%= link_to site_path(site), class: 'text-decoration-none' do %>
            <%= render 'partial/card_site', site: site %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
