<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="d-flex align-items-center justify-content-between">
      <h1 class="mb-3"><%= @site.name.capitalize %></h1>
      <%= link_to dashboard_path do%><button class="btn btn-outline-primary">Revenir au dashboard</button><% end %>
      </div>
      <div class="show-device row">
        <div class="show-device-about mb-3 col-12 col-lg-4 d-flex flex-column">
          <div class="p-3 main-card border shadow-sm flex-grow-1">
            <h3>À propos</h3>
            <div class="mb-3">
              <p><%= @site.address %></p>
            </div>
            <div class="mb-3">
              <div class="d-flex align-items-center mb-1 opacity-50">
                <i class="fa-solid fa-clock me-2"></i>
                <span>Date d'ouverture</span>
              </div>
              <p><%= @site.created_at.strftime("%d/%m/%Y à %H:%M") %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
